@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@400;500;700&display=swap");
:root {
  --black: #212429;
  --grey: #f8f8ec;
  --grey-2: #376bf0;
  --grey-3: #223289;
  --yellow: #8aa6ef;
  --yellow-2: #d2ae5d3d;
  --white: #fff;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  width: 100%;
  line-height: 1;
  font-size: 16px;
}

body._lock {
  overflow: hidden;
}

input,
button,
textarea {
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

#cursor,
#aura {
  position: fixed;
  border-radius: 100%;
  transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
  user-select: none;
  pointer-events: none;
  z-index: 1000;
}

#cursor {
  width: 8px;
  height: 8px;
  background-color: var(--grey-2);
  transform: scale(1);
}
#cursor.active {
  opacity: 0;
  transform: scale(0);
}
@media screen and (max-width: 1023px) {
  #cursor {
    display: none;
  }
}
#cursor.cursor_header {
  background-color: var(--white);
}

#aura {
  width: 46px;
  height: 46px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(44, 68, 94, 0.27);
  transform: translate(5px, 5px);
}
#aura.active {
  border: 1px solid rgba(255, 255, 255, 0.33);
  transform: scale(1.3);
}
@media screen and (max-width: 1023px) {
  #aura {
    display: none;
  }
}

#aura.hidden,
#cursor.hidden {
  transform: scale(0.001);
}

.projects__title {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  color: var(--grey-2);
  padding-bottom: 2rem;
}
@media screen and (max-width: 619px) {
  .projects__title {
    font-size: 2.5rem;
    padding-bottom: 1.5rem;
  }
}

.project__buttons {
  display: flex;
  padding: 1rem 1rem 1rem 0;
  gap: 1.2rem;
}

.galleryItem {
  display: inline-block;
  width: 25%;
  padding-bottom: 36%;
  height: 0;
  position: relative;
  vertical-align: top;
}

.card {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  color: var(--white);
  overflow: hidden;
}
.card:hover, .card:visited {
  color: var(--white);
}
.cardImage {
  object-fit: cover;
  z-index: 1;
  transform: scale(1);
  transition: transform 3s;
}
.cardContent, .cardHover, .cardImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.cardContent {
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  box-sizing: border-box;
  opacity: 0;
}
.cardHover {
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
}
.cardTitle {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
  margin-bottom: 0.2em;
  color: #daa35b;
}
.card:hover .cardHover,
.card:hover .cardContent {
  opacity: 1;
}
.card:hover .cardImage {
  transform: scale(1.2);
}

.explosion {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  background-color: var(--white);
  min-width: 320px;
  min-height: 600px;
  z-index: 999;
  color: var(--black);
  opacity: 0;
}
.explosion_Opened {
  display: block;
}
.explosion_Opening {
  display: block;
}
.explosion_Opening .explosionImage {
  transition: none;
}
.explosionButton {
  height: 48px;
  padding: 5px 20px;
  border: 0px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  text-align: center;
  white-space: nowrap;
  position: relative;
  background-color: var(--yellow);
}
@media screen and (max-width: 619px) {
  .explosionButton {
    width: 100%;
  }
}
.explosionImage {
  position: absolute;
  width: 500px;
  object-fit: cover;
  display: block;
  z-index: 2;
  height: auto;
  transform: translate3d(0, 0, 0) scale(1);
  transform-origin: 50% 50%;
  backface-visibility: hidden;
  transition: transform 0.7s, opacity 0.7s;
}
.explosionControls {
  display: flex;
  flex-direction: column;
  width: 3rem;
  top: 0;
  position: absolute;
  z-index: 7;
  justify-content: center;
  right: 22%;
  margin-top: 3000px;
  height: 400px;
  transition: margin 0.7s;
}
@media screen and (max-width: 499px) {
  .explosionControls {
    flex-direction: row;
  }
}
.explosionSummary {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  transition: width 0.7s;
  color: var(--grey);
  width: 0%;
  overflow: hidden;
}
.explosionSummaryContent {
  padding: 0.5rem 2rem;
  opacity: 1;
  transition: opacity 0.3s;
}
.explosionTitle {
  position: absolute;
  color: var(--grey-3);
  top: 0;
  left: 0;
  font-size: 2em;
  background-color: var(--white);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 1rem 2rem;
  transition: opacity 1s, width 0.7s;
  z-index: 3;
  width: 0%;
  font-weight: 500;
}
.explosionDescription {
  position: absolute;
  color: var(--grey-3);
  bottom: 0;
  right: 0;
  background-color: var(--white);
  transition: opacity 0.3s, width 0.7s;
  z-index: 3;
  padding: 0.5rem 2rem;
  opacity: 1;
  width: 0%;
  letter-spacing: 0.1em;
  text-align: justify;
}
@media screen and (max-width: 599px) {
  .explosionDescription {
    font-size: 0.9rem;
  }
}
.explosionClose {
  position: absolute;
  top: 0;
  width: 3rem;
  height: 3rem;
  border: none;
  background: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  background-image: url("../../libs/explosion/images/close.svg");
  cursor: pointer;
}
.explosionNavs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 499px) {
  .explosionNavs {
    flex-direction: row;
  }
}
.explosionNav {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 3px solid var(--black);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  cursor: pointer;
  text-align: center;
  opacity: 1;
  transition: background-color 0.3s, opacity 0.3s;
}
.explosionNav:hover {
  background-color: var(--black);
}
.explosionNav:disabled {
  pointer-events: none;
  opacity: 0.3;
}
.explosionNavPrev {
  background-image: url("../../libs/explosion/images/arrow-up.svg");
}
.explosionNavPrev:hover {
  background-image: url("../../libs/explosion/images/arrow-up-white.svg");
}
.explosionNavNext {
  background-image: url("../../libs/explosion/images/arrow-down.svg");
}
.explosionNavNext:hover {
  background-image: url("../../libs/explosion/images/arrow-down-white.svg");
}
.explosionCounter {
  font-weight: bold;
  font-size: 1.2rem;
  padding: 1rem 2rem;
}

.explosionButton.disabled {
  opacity: 0.5;
  pointer-events: none;
}

/*# sourceMappingURL=index.css.map */
