.explosion {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--white);
    min-width: 320px;
    min-height: 600px;
    z-index: 999;
    color: var(--black);
    opacity: 0;
    //overflow: auto;

    &_Opened {
        display: block;
    }
    &_Opening {
        display: block;

        .explosionImage {
            transition: none;
        }
    }

    &Button {
        height: 48px;
        padding: 5px 20px;
        border: 0px;
        border-radius: 8px;
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        text-align: center;
        white-space: nowrap;
        position: relative;
        background-color: var(--yellow);

        @media screen and (max-width: 619px) {
            width: 100%;
        }
    }
    &Image {
        position: absolute;
        width: 500px;
        object-fit: cover;
        display: block;
        z-index: 2;
        //opacity: 0.3;
        height: auto;
        transform: translate3d(0, 0, 0) scale(1);
        transform-origin: 50% 50%;
        backface-visibility: hidden;
        transition: transform 0.7s, opacity 0.7s;
    }

    &Controls {
        display: flex;
        flex-direction: column;
        width: 3rem;
        top: 0;
        position: absolute;
        z-index: 7;
        justify-content: center;
        right: 22%;
        margin-top: 3000px;
        height: 400px;
        transition: margin 0.7s;
        @media screen and (max-width: 799px) {
            flex-direction: row;
        }
    }

    &Summary {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 3;
        transition: width 0.7s;
        color: var(--grey);
        width: 0%;
        overflow: hidden;

        &Content {
            padding: 0.5rem 1rem;
            opacity: 1;
            transition: opacity 0.3s;
        }
    }

    &Title {
        position: absolute;
        color: var(--grey-3);
        top: 0;
        left: 0;
        font-size: 2em;
        background-color: var(--white);
        text-transform: uppercase;
        letter-spacing: 0.1em;
        padding: 1rem;
        transition: opacity 1s, width 0.7s;
        z-index: 3;
        width: 0%;
        font-weight: 500;
    }

    &Description {
        position: absolute;
        color: var(--grey-3);
        bottom: 0;
        right: 0;
        background-color: var(--white);
        transition: opacity 0.3s, width 0.7s;
        z-index: 3;
        padding: 0.5rem 1rem;
        opacity: 1;
        width: 0%;
        letter-spacing: 0.1em;
        @media screen and (max-width: 599px) {
            font-size: 0.9rem;
        }
    }

    &Close {
        position: absolute;
        top: 0;
        width: 3rem;
        height: 3rem;
        border: none;
        background: none;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 80%;
        background-image: url("../../libs/explosion/images/close.svg");
        cursor: pointer;
    }

    &Navs {
        display: flex;
        flex-direction: column;
        align-items: center;
        @media screen and (max-width: 799px) {
            flex-direction: row;
        }
    }

    &Nav {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        border: 3px solid var(--black);
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: 80%;
        background-position: center;
        cursor: pointer;
        text-align: center;
        opacity: 1;
        transition: background-color 0.3s, opacity 0.3s;

        &:hover {
            background-color: var(--black);
        }

        &:disabled {
            pointer-events: none;
            opacity: 0.3;
        }

        &Prev {
            background-image: url("../../libs/explosion/images/arrow-up.svg");

            &:hover {
                background-image: url("../../libs/explosion/images/arrow-up-white.svg");
            }
        }
        &Next {
            background-image: url("../../libs/explosion/images/arrow-down.svg");

            &:hover {
                background-image: url("../../libs/explosion/images/arrow-down-white.svg");
            }
        }
    }

    &Counter {
        font-weight: bold;
        font-size: 1.2rem;
        padding: 1rem 0;
    }
}

.explosionButton.disabled {
    opacity: 0.5;
    pointer-events: none;
}
