.explosion {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--white);
    min-width: 1023px;
    min-height: 600px;
    z-index: 999;
    color: var(--black);
    opacity: 0;

    &_Opened {
        display: block;
    }
    &_Opening {
        display: block;
    }
    &Image {
        position: absolute;
        width: 500px;
        object-fit: cover;
        display: block;
        z-index: 2;
        //opacity: 0.3;
        height: auto;
        transform: translate3d(0, 0, 0) scale(1);
        transform-origin: 50% 50%;
        backface-visibility: hidden;
        transition: transform 0.7s, opacity 0.7s;
    }

    &Controls {
        display: flex;
        flex-direction: column;
        width: 3rem;
        top: 0;
        position: absolute;
        z-index: 7;
        justify-content: center;
        right: 22%;
        margin-top: 3000px;
        height: 400px;
        transition: margin 0.7s;
    }

    &Close {
        position: absolute;
        top: 0;
        width: 3rem;
        height: 3rem;
        border: none;
        background: none;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 80%;
        background-image: url("../../libs/explosion/images/close.svg");
        cursor: pointer;
    }

    &Navs {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &Nav {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        border: 3px solid var(--black);
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: 80%;
        background-position: center;
        cursor: pointer;
        text-align: center;
        opacity: 1;
        transition: background 0.3s, opacity 0.3s;

        &:hover {
            background-color: var(--black);
        }

        &:disabled {
            pointer-events: none;
            opacity: 0.3;
        }

        &Prev {
            background-image: url("../../libs/explosion/images/arrow-up.svg");

            &:hover {
                background-image: url("../../libs/explosion/images/arrow-up-white.svg");
            }
        }
        &Next {
            background-image: url("../../libs/explosion/images/arrow-down.svg");

            &:hover {
                background-image: url("../../libs/explosion/images/arrow-down-white.svg");
            }
        }
    }

    &Counter {
        font-weight: bold;
        font-size: 1.2rem;
        padding: 1rem 0;
    }
}
